<ion-view view-title="Loo Tracker">
  <ion-content>
  <div id="back">
    <div class="row">
      <div class="col">
      <a href="#/app/find" id="noDecor">
        <button class="button button-full button-calm" id="homeico">
        <i class="ion-search"></i><br/> Find A Toilet
      </button>
      </a>
      </div>
      <div class="col">
      <a href="#/app/add" id="noDecor">
        <button class="button button-full button-calm" id="homeico">
        <i class="ion-plus-circled"></i><br/> Add A Toilet
      </button>
      </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <a href="#/app/request" id="noDecor">
        <button class="button button-full button-calm" id="homeico">
        <i class="ion-paper-airplane"></i><br/> Request A Toilet
      </button>
      </a>
      </div>
      <div class="col">
      <a href="#/app/volunteer" id="noDecor">
        <button class="button button-full button-calm" id="homeico">
        <i class="ion-help-buoy"></i><br/> Volunteer
      </button>
      </a>
      </div>
    </div>
    <div class="bar bar-footer bar-stable">
  <div class="title">Developed For CFI</div>
</div>
</div>
  </ion-content>
</ion-view>
